extends ../_includes/layout

block variables
  - var template = 'about'

block content
  .about(data-background="#b2b8c3" data-color="#37384c")
    .about__wrapper
      section.about__gallery
        .about__gallery__wrapper
          each media in about.data.gallery
            figure.about__gallery__media
              img.about__gallery__media__image(data-src=media.image.url alt=media.image.alt )


      each section in about.data.body
        if section.slice_type == 'title'
          h2.about__title(data-animation="title")!=section.primary.text.replace(/\n/g, '<br>')
